
<html>
	<head>
		<link rel="stylesheet" type="text/css" href="/css/style.css">
	</head>
	<body>
        <div class="head">{{>header}}</div>
        
        <img src="/sss.png" alt="hello" width="200px">

        <p1>{{work}}</p1>
		<div class="foot"> {{>footer}}</div>
	</body>
</html>