<html>
	<head>
		<link rel="stylesheet" type="text/css" href="./css/style.css">
	</head>
	<body>
        <div class="head">{{>header}}</div>
		<form>
			<input type="text" placeholder="location">
			<button>submit</button>
		</form>
        <p id="first"> </p>
		<p id="second"> </p>
        <div class="foot"> {{>footer}}</div>
		<script src="/simple.js"></script>
	</body>
</html>